<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="learning.mahmoudmabrok.englishtime">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".feature.feature.test.Test"></activity>
        <activity android:name=".feature.feature.selectPath.SelectGameType" />
        <activity
            android:name=".feature.feature.categorizeWords.CategorizeWords"
            android:exported="true" />
        <activity
            android:name=".feature.feature.categorizeWords.CategorizeWordsTwo"
            android:exported="true" />


        <activity android:name=".feature.feature.aorb.IsAOrB" />
        <activity android:name=".feature.feature.wordsTwoCards.DisplayWords" />
        <activity
            android:name=".feature.feature.grammer.GrammerActivity"
            android:exported="true" />
        <activity android:name=".feature.feature.puncuate.Puncate" />
        <activity
            android:name=".feature.feature.completeWord.CompleteWord"
            android:exported="true" />

        <activity
            android:name=".feature.feature.completeWord.CompleteWordTwo"
            android:exported="true" />


        <activity
            android:name=".feature.feature.collectWordWithCross.CollectWord"
            android:exported="true" />
        <activity
            android:name=".feature.feature.snake.SnakeStair"
            android:exported="true" />
        <activity
            android:name=".feature.feature.crossword.CrossWord"
            android:exported="true" />
        <activity android:name=".feature.feature.home.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".feature.feature.showVocabs.ShowVocabs" />
        <activity android:name=".feature.feature.listenSelect.ListenAndSelect" />
        <activity android:name=".feature.feature.circleOdd.CircleOdd" />
        <activity
            android:name=".feature.feature.formSentace.CategorizeWords"
            android:exported="true" />
        <activity android:name=".feature.feature.activities.Activities" />
    </application>

</manifest>